CustomerWebServiceClient/xml-resources/web-service-references/BookingWebService/wsdl/localhost_8080/BookingWebService/BookingWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="BookingWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/BookingWebService/BookingWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="doBooking">
<part name="parameters" element="tns:doBooking"/>
</message>
<message name="doBookingResponse">
<part name="parameters" element="tns:doBookingResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="AppointmentNumberExistsException">
<part name="fault" element="tns:AppointmentNumberExistsException"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="ServiceProviderNotFoundException">
<part name="fault" element="tns:ServiceProviderNotFoundException"/>
</message>
<message name="ServiceProviderBlockedException">
<part name="fault" element="tns:ServiceProviderBlockedException"/>
</message>
<message name="clearAppointmentCart">
<part name="parameters" element="tns:clearAppointmentCart"/>
</message>
<message name="clearAppointmentCartResponse">
<part name="parameters" element="tns:clearAppointmentCartResponse"/>
</message>
<message name="getAppointmentNo">
<part name="parameters" element="tns:getAppointmentNo"/>
</message>
<message name="getAppointmentNoResponse">
<part name="parameters" element="tns:getAppointmentNoResponse"/>
</message>
<message name="setAppointmentNo">
<part name="parameters" element="tns:setAppointmentNo"/>
</message>
<message name="setAppointmentNoResponse">
<part name="parameters" element="tns:setAppointmentNoResponse"/>
</message>
<message name="getScheduledTime">
<part name="parameters" element="tns:getScheduledTime"/>
</message>
<message name="getScheduledTimeResponse">
<part name="parameters" element="tns:getScheduledTimeResponse"/>
</message>
<message name="setScheduledTime">
<part name="parameters" element="tns:setScheduledTime"/>
</message>
<message name="setScheduledTimeResponse">
<part name="parameters" element="tns:setScheduledTimeResponse"/>
</message>
<message name="getScheduledDate">
<part name="parameters" element="tns:getScheduledDate"/>
</message>
<message name="getScheduledDateResponse">
<part name="parameters" element="tns:getScheduledDateResponse"/>
</message>
<message name="setScheduledDate">
<part name="parameters" element="tns:setScheduledDate"/>
</message>
<message name="setScheduledDateResponse">
<part name="parameters" element="tns:setScheduledDateResponse"/>
</message>
<message name="getCustomerEntity">
<part name="parameters" element="tns:getCustomerEntity"/>
</message>
<message name="getCustomerEntityResponse">
<part name="parameters" element="tns:getCustomerEntityResponse"/>
</message>
<message name="setCustomerEntity">
<part name="parameters" element="tns:setCustomerEntity"/>
</message>
<message name="setCustomerEntityResponse">
<part name="parameters" element="tns:setCustomerEntityResponse"/>
</message>
<message name="getServiceProviderEntity">
<part name="parameters" element="tns:getServiceProviderEntity"/>
</message>
<message name="getServiceProviderEntityResponse">
<part name="parameters" element="tns:getServiceProviderEntityResponse"/>
</message>
<message name="setServiceProviderEntity">
<part name="parameters" element="tns:setServiceProviderEntity"/>
</message>
<message name="setServiceProviderEntityResponse">
<part name="parameters" element="tns:setServiceProviderEntityResponse"/>
</message>
<message name="getBusinessCategoryEntity">
<part name="parameters" element="tns:getBusinessCategoryEntity"/>
</message>
<message name="getBusinessCategoryEntityResponse">
<part name="parameters" element="tns:getBusinessCategoryEntityResponse"/>
</message>
<message name="setBusinessCategoryEntity">
<part name="parameters" element="tns:setBusinessCategoryEntity"/>
</message>
<message name="setBusinessCategoryEntityResponse">
<part name="parameters" element="tns:setBusinessCategoryEntityResponse"/>
</message>
<message name="addAppointment">
<part name="parameters" element="tns:addAppointment"/>
</message>
<message name="addAppointmentResponse">
<part name="parameters" element="tns:addAppointmentResponse"/>
</message>
<portType name="BookingWebService">
<operation name="doBooking">
<input wsam:Action="http://ws.session.ejb/BookingWebService/doBookingRequest" message="tns:doBooking"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/doBookingResponse" message="tns:doBookingResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/InvalidLoginCredentialException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/InputDataValidationException"/>
<fault message="tns:AppointmentNumberExistsException" name="AppointmentNumberExistsException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/AppointmentNumberExistsException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/CustomerNotFoundException"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/ServiceProviderNotFoundException"/>
<fault message="tns:ServiceProviderBlockedException" name="ServiceProviderBlockedException" wsam:Action="http://ws.session.ejb/BookingWebService/doBooking/Fault/ServiceProviderBlockedException"/>
</operation>
<operation name="clearAppointmentCart">
<input wsam:Action="http://ws.session.ejb/BookingWebService/clearAppointmentCartRequest" message="tns:clearAppointmentCart"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/clearAppointmentCartResponse" message="tns:clearAppointmentCartResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/clearAppointmentCart/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getAppointmentNo">
<input wsam:Action="http://ws.session.ejb/BookingWebService/getAppointmentNoRequest" message="tns:getAppointmentNo"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/getAppointmentNoResponse" message="tns:getAppointmentNoResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/getAppointmentNo/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="setAppointmentNo">
<input wsam:Action="http://ws.session.ejb/BookingWebService/setAppointmentNoRequest" message="tns:setAppointmentNo"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/setAppointmentNoResponse" message="tns:setAppointmentNoResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/setAppointmentNo/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getScheduledTime">
<input wsam:Action="http://ws.session.ejb/BookingWebService/getScheduledTimeRequest" message="tns:getScheduledTime"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/getScheduledTimeResponse" message="tns:getScheduledTimeResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/getScheduledTime/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="setScheduledTime">
<input wsam:Action="http://ws.session.ejb/BookingWebService/setScheduledTimeRequest" message="tns:setScheduledTime"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/setScheduledTimeResponse" message="tns:setScheduledTimeResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/setScheduledTime/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getScheduledDate">
<input wsam:Action="http://ws.session.ejb/BookingWebService/getScheduledDateRequest" message="tns:getScheduledDate"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/getScheduledDateResponse" message="tns:getScheduledDateResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/getScheduledDate/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="setScheduledDate">
<input wsam:Action="http://ws.session.ejb/BookingWebService/setScheduledDateRequest" message="tns:setScheduledDate"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/setScheduledDateResponse" message="tns:setScheduledDateResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/setScheduledDate/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getCustomerEntity">
<input wsam:Action="http://ws.session.ejb/BookingWebService/getCustomerEntityRequest" message="tns:getCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/getCustomerEntityResponse" message="tns:getCustomerEntityResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/getCustomerEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="setCustomerEntity">
<input wsam:Action="http://ws.session.ejb/BookingWebService/setCustomerEntityRequest" message="tns:setCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/setCustomerEntityResponse" message="tns:setCustomerEntityResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/setCustomerEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getServiceProviderEntity">
<input wsam:Action="http://ws.session.ejb/BookingWebService/getServiceProviderEntityRequest" message="tns:getServiceProviderEntity"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/getServiceProviderEntityResponse" message="tns:getServiceProviderEntityResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/getServiceProviderEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="setServiceProviderEntity">
<input wsam:Action="http://ws.session.ejb/BookingWebService/setServiceProviderEntityRequest" message="tns:setServiceProviderEntity"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/setServiceProviderEntityResponse" message="tns:setServiceProviderEntityResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/setServiceProviderEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="getBusinessCategoryEntity">
<input wsam:Action="http://ws.session.ejb/BookingWebService/getBusinessCategoryEntityRequest" message="tns:getBusinessCategoryEntity"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/getBusinessCategoryEntityResponse" message="tns:getBusinessCategoryEntityResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/getBusinessCategoryEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="setBusinessCategoryEntity">
<input wsam:Action="http://ws.session.ejb/BookingWebService/setBusinessCategoryEntityRequest" message="tns:setBusinessCategoryEntity"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/setBusinessCategoryEntityResponse" message="tns:setBusinessCategoryEntityResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/setBusinessCategoryEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="addAppointment">
<input wsam:Action="http://ws.session.ejb/BookingWebService/addAppointmentRequest" message="tns:addAppointment"/>
<output wsam:Action="http://ws.session.ejb/BookingWebService/addAppointmentResponse" message="tns:addAppointmentResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BookingWebService/addAppointment/Fault/InvalidLoginCredentialException"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/BookingWebService/addAppointment/Fault/ServiceProviderNotFoundException"/>
</operation>
</portType>
<binding name="BookingWebServicePortBinding" type="tns:BookingWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="doBooking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="AppointmentNumberExistsException">
<soap:fault name="AppointmentNumberExistsException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
<fault name="ServiceProviderBlockedException">
<soap:fault name="ServiceProviderBlockedException" use="literal"/>
</fault>
</operation>
<operation name="clearAppointmentCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getAppointmentNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="setAppointmentNo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getScheduledTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="setScheduledTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getScheduledDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="setScheduledDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="setCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getServiceProviderEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="setServiceProviderEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="getBusinessCategoryEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="setBusinessCategoryEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="addAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookingWebService">
<port name="BookingWebServicePort" binding="tns:BookingWebServicePortBinding">
<soap:address location="http://localhost:8080/BookingWebService/BookingWebService"/>
</port>
</service>
</definitions>