CustomerWebServiceClient/xml-resources/web-service-references/EmailWebService/wsdl/localhost_8080/EmailWebService/EmailWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="InvalidLoginCredentialException" type="tns:InvalidLoginCredentialException"/>

<xs:element name="emailCheckoutNotificationSync" type="tns:emailCheckoutNotificationSync"/>

<xs:element name="emailCheckoutNotificationSyncResponse" type="tns:emailCheckoutNotificationSyncResponse"/>

<xs:complexType name="emailCheckoutNotificationSync">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="appointmentEntity" type="tns:appointmentEntity" minOccurs="0"/>
<xs:element name="fromEmailAddress" type="xs:string" minOccurs="0"/>
<xs:element name="toEmailAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="appointmentEntity">
<xs:sequence>
<xs:element name="appointmentId" type="xs:long" minOccurs="0"/>
<xs:element name="appointmentNo" type="xs:string" minOccurs="0"/>
<xs:element name="businessCategoryEntity" type="tns:businessCategoryEntity" minOccurs="0"/>
<xs:element name="hasRating" type="xs:boolean" minOccurs="0"/>
<xs:element name="scheduledDate" type="xs:string" minOccurs="0"/>
<xs:element name="scheduledTime" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="businessCategoryEntity">
<xs:sequence>
<xs:element name="businessCategoryId" type="xs:long" minOccurs="0"/>
<xs:element name="category" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="emailCheckoutNotificationSyncResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InvalidLoginCredentialException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>