CustomerWebServiceClient/xml-resources/web-service-references/BusinessCategoryEntityWebService/wsdl/localhost_8080/BusinessCategoryEntityWebService/BusinessCategoryEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="BusinessCategoryEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/BusinessCategoryEntityWebService/BusinessCategoryEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="retrieveAllBusinessCategories">
<part name="parameters" element="tns:retrieveAllBusinessCategories"/>
</message>
<message name="retrieveAllBusinessCategoriesResponse">
<part name="parameters" element="tns:retrieveAllBusinessCategoriesResponse"/>
</message>
<message name="InvalidLoginCredentialException">
<part name="fault" element="tns:InvalidLoginCredentialException"/>
</message>
<message name="deleteBusinessCategory">
<part name="parameters" element="tns:deleteBusinessCategory"/>
</message>
<message name="deleteBusinessCategoryResponse">
<part name="parameters" element="tns:deleteBusinessCategoryResponse"/>
</message>
<message name="BusinessCategoryNotFoundException">
<part name="fault" element="tns:BusinessCategoryNotFoundException"/>
</message>
<message name="DeleteBusinessCategoryException">
<part name="fault" element="tns:DeleteBusinessCategoryException"/>
</message>
<message name="createNewBusinessCategoryEntity">
<part name="parameters" element="tns:createNewBusinessCategoryEntity"/>
</message>
<message name="createNewBusinessCategoryEntityResponse">
<part name="parameters" element="tns:createNewBusinessCategoryEntityResponse"/>
</message>
<message name="BusinessCategoryExistException">
<part name="fault" element="tns:BusinessCategoryExistException"/>
</message>
<message name="UnknownPersistenceException">
<part name="fault" element="tns:UnknownPersistenceException"/>
</message>
<message name="InputDataValidationException">
<part name="fault" element="tns:InputDataValidationException"/>
</message>
<message name="retrieveBusinessCategoriesByName">
<part name="parameters" element="tns:retrieveBusinessCategoriesByName"/>
</message>
<message name="retrieveBusinessCategoriesByNameResponse">
<part name="parameters" element="tns:retrieveBusinessCategoriesByNameResponse"/>
</message>
<message name="retrieveBusinessCategoriesById">
<part name="parameters" element="tns:retrieveBusinessCategoriesById"/>
</message>
<message name="retrieveBusinessCategoriesByIdResponse">
<part name="parameters" element="tns:retrieveBusinessCategoriesByIdResponse"/>
</message>
<portType name="BusinessCategoryEntityWebService">
<operation name="retrieveAllBusinessCategories">
<input wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveAllBusinessCategoriesRequest" message="tns:retrieveAllBusinessCategories"/>
<output wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveAllBusinessCategoriesResponse" message="tns:retrieveAllBusinessCategoriesResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveAllBusinessCategories/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="deleteBusinessCategory">
<input wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/deleteBusinessCategoryRequest" message="tns:deleteBusinessCategory"/>
<output wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/deleteBusinessCategoryResponse" message="tns:deleteBusinessCategoryResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/deleteBusinessCategory/Fault/InvalidLoginCredentialException"/>
<fault message="tns:BusinessCategoryNotFoundException" name="BusinessCategoryNotFoundException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/deleteBusinessCategory/Fault/BusinessCategoryNotFoundException"/>
<fault message="tns:DeleteBusinessCategoryException" name="DeleteBusinessCategoryException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/deleteBusinessCategory/Fault/DeleteBusinessCategoryException"/>
</operation>
<operation name="createNewBusinessCategoryEntity">
<input wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/createNewBusinessCategoryEntityRequest" message="tns:createNewBusinessCategoryEntity"/>
<output wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/createNewBusinessCategoryEntityResponse" message="tns:createNewBusinessCategoryEntityResponse"/>
<fault message="tns:BusinessCategoryExistException" name="BusinessCategoryExistException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/createNewBusinessCategoryEntity/Fault/BusinessCategoryExistException"/>
<fault message="tns:UnknownPersistenceException" name="UnknownPersistenceException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/createNewBusinessCategoryEntity/Fault/UnknownPersistenceException"/>
<fault message="tns:InputDataValidationException" name="InputDataValidationException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/createNewBusinessCategoryEntity/Fault/InputDataValidationException"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/createNewBusinessCategoryEntity/Fault/InvalidLoginCredentialException"/>
</operation>
<operation name="retrieveBusinessCategoriesByName">
<input wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesByNameRequest" message="tns:retrieveBusinessCategoriesByName"/>
<output wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesByNameResponse" message="tns:retrieveBusinessCategoriesByNameResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesByName/Fault/InvalidLoginCredentialException"/>
<fault message="tns:BusinessCategoryNotFoundException" name="BusinessCategoryNotFoundException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesByName/Fault/BusinessCategoryNotFoundException"/>
</operation>
<operation name="retrieveBusinessCategoriesById">
<input wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesByIdRequest" message="tns:retrieveBusinessCategoriesById"/>
<output wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesByIdResponse" message="tns:retrieveBusinessCategoriesByIdResponse"/>
<fault message="tns:InvalidLoginCredentialException" name="InvalidLoginCredentialException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesById/Fault/InvalidLoginCredentialException"/>
<fault message="tns:BusinessCategoryNotFoundException" name="BusinessCategoryNotFoundException" wsam:Action="http://ws.session.ejb/BusinessCategoryEntityWebService/retrieveBusinessCategoriesById/Fault/BusinessCategoryNotFoundException"/>
</operation>
</portType>
<binding name="BusinessCategoryEntityWebServicePortBinding" type="tns:BusinessCategoryEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="retrieveAllBusinessCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="deleteBusinessCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="BusinessCategoryNotFoundException">
<soap:fault name="BusinessCategoryNotFoundException" use="literal"/>
</fault>
<fault name="DeleteBusinessCategoryException">
<soap:fault name="DeleteBusinessCategoryException" use="literal"/>
</fault>
</operation>
<operation name="createNewBusinessCategoryEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="BusinessCategoryExistException">
<soap:fault name="BusinessCategoryExistException" use="literal"/>
</fault>
<fault name="UnknownPersistenceException">
<soap:fault name="UnknownPersistenceException" use="literal"/>
</fault>
<fault name="InputDataValidationException">
<soap:fault name="InputDataValidationException" use="literal"/>
</fault>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
</operation>
<operation name="retrieveBusinessCategoriesByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="BusinessCategoryNotFoundException">
<soap:fault name="BusinessCategoryNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="retrieveBusinessCategoriesById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginCredentialException">
<soap:fault name="InvalidLoginCredentialException" use="literal"/>
</fault>
<fault name="BusinessCategoryNotFoundException">
<soap:fault name="BusinessCategoryNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BusinessCategoryEntityWebService">
<port name="BusinessCategoryEntityWebServicePort" binding="tns:BusinessCategoryEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/BusinessCategoryEntityWebService/BusinessCategoryEntityWebService"/>
</port>
</service>
</definitions>